@import url('styles.css');

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--bg-color,#F9FBFF);
    writing-mode: horizontal-tb;
    
    .navbar {
        min-width: calc(2* var(--width-spacing-unit,1.6dvw));
        height: 100vh;
        border: var(--border-width,0.5px) solid var(--border-color,#121313);
        position: sticky;
        top: 0;

        button {
            background: none;
            border: none;
            cursor: pointer;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        figure {
            margin: 0;

            img {
                width: 100%;
                height: auto;
                display: block;
                border: var(--border-width,0.5px) solid var(--border-color,#121313);
            }
        }
        header {
            padding-inline: calc(2*var(--width-spacing-unit,1.6dvw));
            padding-block: calc(1/4*var(--height-spacing-unit,1.6dvh));
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            border: var(--border-width,0.5px) solid var(--border-color,#121313);
        }

        main section {
            padding-inline: calc(2*var(--width-spacing-unit,1.6dvw));
            padding-block: var(--height-spacing-unit,1.6dvh);
            border: var(--border-width,0.5px) solid var(--border-color,#121313);
        }

        footer {
            padding-inline: calc(2*var(--width-spacing-unit,1.6dvw));
            padding-block: calc(1.5*var(--height-spacing-unit,1.6dvh));
            border: var(--border-width,0.5px) solid var(--border-color,#121313);
            nav ul {
                display: flex;
                gap: 40px;
            }
        }
    }

    
}