:root {
    /* Colors */
    --primary-color: #282787;
    /* --secondary-color: #2ecc71; */
    --bg-color: #F9FBFF;
    --nav-bg-color: #FFFFFF;
    --text-color: #121313;
    --text-color-white: #FFFFFF;
    --heading-color-supporting: rgb(249 251 255,0.48);
    --text-color-supporting: #636060;
    --border-color: #121313;
    --border-width: 0.5px;
    /* Font */
    --font-family: 'Roboto', sans-serif;
    --font-size-base: 1rem;
    --width-spacing-unit: 1.6dvw;
    --height-spacing-unit: 1.6dvh;
}